/* ---- Bulma variables */
:root {
    /* General */
    --bulma-shadow: 0 0 0 1px hsl(
        var(--bulma-scheme-h)
        var(--bulma-scheme-s)
        var(--bulma-border-weak-l)
    ) inset;

    /* Body */
    --bulma-body-overflow-x: hidden;
    --bulma-body-overflow-y: hidden;
    --bulma-body-background-color: hsl(
        var(--bulma-scheme-h)
        var(--bulma-scheme-s)
        var(--bulma-scheme-main-ter-l)
    );

    /* HR */
    --bulma-hr-background-color: hsl(
        var(--bulma-scheme-h)
        var(--bulma-scheme-s)
        var(--bulma-border-l)
    );

    --bulma-block-spacing: 2rem;
}

    /* Section */
.bulma-section {
    --bulma-section-padding: 1.5rem;
}

    /* Content */
.bulma-content {
    --bulma-content-blockquote-background-color: var(--bulma-border-weak);
}

    /* Notification */
.bulma-notification {
    --bulma-notification-background-l: var(--bulma-border-weak-l);
    --bulma-notification-color-l: var(--bulma-text-weak-l);
}

    /* Tag */
.bulma-tag {
    border: 1px solid rgba(0, 0, 0, 0.10);
}

    /* Button */
.bulma-button {
    --bulma-button-disabled-background-color: transparent;
}


/* ---- FOX Application */
:root {
    --fox-block-spacing: 1.5rem;
}

html,
body {
    position: relative;
    overflow: hidden;
}

/* -- Helper */
.fox-svg-icon {
    fill: currentColor;
    & use,
    & image {
        width: inherit;
        height: inherit;
    }
}

.fox--has-text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* -- Component */
.fox-separator {

    position: relative;
    /*font-size: var(--bulma-size-medium);*/
    color: var(--bulma-text-weak);
    margin-bottom: 0.5rem;

    & > * {
        padding: 0 calc( var(--bulma-block-spacing) / 2 );
        margin: 0 calc( var(--bulma-block-spacing) / -2 );
        background-color: var(--bulma-body-background-color);
    }

    &::before {
        content: '';
        position: absolute;
        display: block;
        left: 0;
        right: 0;
        top: calc(100% / 2 - var(--bulma-hr-height) / 2);
        height: var(--bulma-hr-height);
        background-color: var(--bulma-hr-background-color);
        z-index: -1;
    }
}

/* -- Item List */
.fox-list {

    & & {
        padding-left: 3rem;
    }

    &-item {
        position: relative;
        margin: 0.5rem auto;

        &:last-child {
            margin-bottom: 0 !important;
        }

        & > button {
            display: block;
            width: 100%;
            text-align: inherit;
        }

        & .bulma-tag {
            position: absolute;
            top: calc( var(--bulma-block-spacing) / 2 );
            right: calc( var(--bulma-block-spacing) / 2 );
        }
    }
}


/* ---- Menu */
$menu-transition-duration: 0.5s;
$menu-transition-timing-function: ease;

/* -- Menu closed --*/
.fox-app-view {

    display: flex;
    align-items: flex-end;

    width: 200vw;
    margin-left: -100dvw;

    transition: margin $menu-transition-duration $menu-transition-timing-function;

    & > * {
        flex: 1 1 100dvw;
    }
}

.fox-app-menu {
    padding-left: calc(2 * var(--fox-block-spacing));

    &-background {
        z-index: -100;
    }

    &-content {
        margin: 0 auto;
        z-index: 0;
        transition: z-index $menu-transition-duration $menu-transition-timing-function;
        max-width: 400px;
    }
}

/* -- Menu opened --*/
.fox-app--has-menu-open {

    &.fox-app-view {
        margin-left: calc(-2 * var(--fox-block-spacing));
    }

    .fox-app-menu {
        &-background,
        &-content {
            z-index: 100;
        }
    }

    .fox-app-content {
        background-color: var(--bulma-background-l);
    }
}

/* ---- Page */
$page-transition-duration: 0.5s;
$page-transition-timing-function: ease;

.fox-app-pages {
    margin-left: 0;
    transition: margin $page-transition-duration $page-transition-timing-function;

    & > * {
        display: flex;
    }
}

@for $i from 1 through 5 {
    .fox-app-pages{

        &.fox-app--has-#{$i}-pages {
            width: calc( 100dvw * $i );
        }

        &.fox-app--is-page-#{$i} {
            margin-left: calc( -1 * 100dvw * ($i - 1) );
        }

    }
}

.fox-app-page {
    flex: 1 1 auto;
    height: 100dvh;
    width: 100dvw;
    overflow: hidden auto;

    display: flex;
    flex-direction: column;

    &-content {
        flex: 1 1 auto;
        overflow: auto;

        & > * {
            min-height: 100%;
        }

        &::before,
        &::after {
            content: '';
            display: block;
            background-color: var(--bulma-body-background-color);
            height: 15px;
            margin: 0 calc(-1 * var(--fox-block-spacing)) -15px;
            top: calc(-1 * var(--fox-block-spacing));
            position: relative;
            z-index: 50;
        }

        &::after {
            margin: -15px calc(-1 * var(--fox-block-spacing)) 0;
            top: initial;
            bottom: calc(-1 * var(--fox-block-spacing));
        }
    }

    &-title,
    &-navbar {
        position: relative;
        z-index: 10;
        box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.25);
        flex: none;

        & > * {
            display: flex;
            align-items: flex-start;
            flex-wrap: nowrap !important;
        }

        &:last-child > * {
            align-items: flex-end;
        }

        &-item {
            max-width: 100%;
            padding-right: var(--fox-block-spacing);

            &:first-child {
                flex: 1 1 auto;
            }

            &:last-child {
                padding-right: 0;
            }
        }
    }
}